
.intro {
  @apply
  mt-10
  flex
  flex-col
  items-center

  lg:flex-row
}

.introTextContainer {
  @apply
  flex
  flex-col
  items-start
  gap-4
}

.title {
  @apply
  flex
  flex-col
  gap-4
  justify-start
  items-start
}

.title strong {
  @apply
  text-4xl
  md:text-5xl
}

.title p {
  @apply
  md:text-lg
}

.items {
  @apply
  w-full
  
  flex
  flex-col
   
  md:mt-6
  md:grid
  md:grid-cols-2
  gap-4
}

.item {
  @apply
  flex
  items-center
  gap-2
}

.introImage {
  @apply
  w-0
  lg:w-5/6
  flex
  justify-end
}
