
.coffeList {
  @apply
  mt-10
  flex
  flex-col
  gap-4
}

.coffeList h2 {
  @apply
  font-medium
  text-3xl
}

.list {
  @apply
  md:grid
  md:grid-cols-2
  lg:grid-cols-3
  xl:grid-cols-4
  gap-4
}
